* {
  display: grid;
  font-family: Helvetica;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  
}

#body2 {
  background-image: url("./assets/background.png");
  background-size: cover;
}
.header {
  justify-content: center;
  align-items: center;
  grid-column: 1 / 5;
}
.instructions {
  border-color: white 4px;
  grid-column: 1 / 3;
}
.investigator {
  background-color: gold;
  margin-left: 2cm;
  grid-column: 4 / 5;
  grid-row: 2 / 5;
}
.caseFile {
  background-color: white;
  grid-column: 1 / 2;
  width: 3in;
  height: 1in;
  padding: 1cm;

}
.investigate {
  width: 3in;
  height: 1in;
  grid-column: 2 / 3;
  padding: 1cm;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.modal-header {
  background-color: black;
  color: white;
  margin-right: 30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myProgress {
  width: 350px;
  background-color: lightgray;
  margin: auto;
}

#myBar {
width: 3in;
background-color: gold;
}

#catLives {
  width: 350px;
  background-color: lightgray;
  margin:auto;
}


.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}



/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color
.sidenav a:hover {
  color: gold;
} */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#welcome {
  text-align: center;
}

#inputButton { 
 
}

#restart {
  text-align: center;
  color: black;
}

#begin {
  background: whitesmoke;
  border:none;
  width: 350px;
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#enterName {
  background:white;
  border:none;
  width: 350px;
}


#dynamicImage {
 width: 700px;
 height: auto;
 padding: 20px;
 margin-left: 450px;
}